<header class="header">
  <div class="container">
    <nav class="header">
      <a href="/">Главная</a>
      <a href="/about">О нас</a>
      <a href="/contact">Контакты</a>
    </nav>
  </div>
</header>

<style lang="scss" is:global>
  .header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>
