<section class="about">
  <div class="container">
    <h1>О сайте</h1>
    <p>Какое-то описание сайта</p>
  </div>
</section>

<style lang="scss" is:global>
  .about {
    padding: 20px 0;
    text-align: center;

    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
</style>
