---
import Button from "@/components/base/Button.astro"
---

<section class="hero">
  <div class="container">
    <h1>Главная страница</h1>
    <p>Добро пожаловать на главную страницу сайта</p>

    <div class="buttons">
      <Button
        variant="primary"
        size="lg"
        >Главная кнопка</Button
      >
      <Button
        variant="secondary"
        size="md"
        >Вторичная кнопка</Button
      >
      <Button href="#about">Ссылка</Button>
    </div>
  </div>
</section>

<style lang="scss" is:global>
  .hero {
    padding: 20px 0;
    text-align: center;

    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
    }
  }
</style>
