---
import Head from "@/components/general/Head.astro"
import "@/assets/styles/main.css"

const { title = "Astro Clean", description = "" } = Astro.props
---

<html lang="en">
  <Head
    title={title}
    description={description}
  />
  <body>
    <div class="wrapper">
      <main class="main">
        <slot />
      </main>
    </div>
    <script
      is:inline
      type="module"
      src="/assets/script/main.js"
    >
    </script>
  </body>
</html>

<style is:global>
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 1;
  }

  .main {
    flex: 1;
  }
</style>
