@use "reset";
@use "variables";

html,
body {
  height: 100%;
  font-family: var(--main-font);
  color: var(--color-black);
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    max-width: var(--max-width, 1440px);
  }

  @media (min-width: 640px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 640px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
