:root {
  --main-font: var(--font-roboto), sans-serif;

  --color-primary: #667eea;
  --color-primary-hover: #764ba2;
  --color-primary-dark: #2d1b69;

  --color-white: #ffffff;
  --color-black: #242424;

  --max-width: 1210px;
}
