---
import { Locale } from "@mannisto/astro-i18n/runtime"

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string
}

const { href, ...attrs } = Astro.props

const isExternal =
  href.startsWith("http://") ||
  href.startsWith("https://") ||
  href.startsWith("mailto:") ||
  href.startsWith("tel:")

const locale = Locale.from(Astro.url)
const localizedHref = isExternal ? href : Locale.url(locale, href)
---

<a
  href={localizedHref}
  {...attrs}
>
  <slot />
</a>
